/* WRAPPER */

.signin-wrapper{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#f7f8fb;
}


/* CARD */

.signin-card{
  width:420px;
  background:white;
  padding:40px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  text-align:center;
}


/* LOGO */

.logo-link img{
  width:150px;
  margin-bottom:20px;
}


/* TITLE */

.signin-title{
  font-family:'Playfair Display', serif;
  font-size:30px;
  color:#2F5DA8;
  margin-bottom:25px;
}


/* INPUT GROUP */

.input-group{
  text-align:left;
  margin-bottom:18px;
}

.input-group label{
  display:block;
  margin-bottom:6px;
  font-weight:500;
}

.input-group input{
  width:100%;
  padding:12px;
  border:1px solid #ddd;
  border-radius:6px;
  font-size:14px;
}


/* BUTTON */

.signin-btn{
  width:100%;
  padding:12px;
  background:#2F5DA8;
  color:white;
  border:none;
  border-radius:6px;
  margin-top:10px;
  cursor:pointer;
  font-weight:500;
}

.signin-btn:hover{
  background:#244c8f;
}


/* SIGNIN LINK */

.signup-link{
  margin-top:20px;
  font-size:14px;
}

.signup-link a{
  color:#2F5DA8;
  text-decoration:none;
  font-weight:500;
}

.signup-link a:hover{
  text-decoration:underline;
}