<section class="signin-wrapper">

  <div class="signin-card">

    <a routerLink="/home" class="logo-link">
      <img src="https://digizura.com/img/log3.png" alt="Digizura Logo">
    </a>

    <h2 class="signin-title">Reset Password</h2>

    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

      <div class="input-group">
        <label>Email</label>

        <input
        type="email"
        formControlName="email"
        placeholder="Enter registered email">
      </div>

      <div class="input-group">
        <label>New Password</label>

        <input
        type="password"
        formControlName="password"
        placeholder="Enter new password">
      </div>

      <button class="signin-btn" type="submit">
        Update Password
      </button>

    </form>

    <p class="signup-link">
      Remember password?
      <a routerLink="/signin">Sign in</a>
    </p>

  </div>

</section>