<div class="header-fixed">

  <nav class="navbar">

<!-- LEFT -->
<div class="nav-left">
  <div class="logo" routerLink="/home">
    <img src="https://digizura.com/img/log3.png" alt="Digizura Logo"/>
  </div>
</div>

<!-- CENTER -->
<div class="nav-center">
<a routerLink="/cablemaker" class="menu-link">CableMaker</a>

<a routerLink="/cablenxt" class="menu-link">CableNXT</a>
  <a routerLink="/cable-ai" class="menu-link">Cable.AI</a>
  <a routerLink="/community" class="menu-link">Community</a>
  <a routerLink="/pricing" class="menu-link">Pricing</a>
  <a routerLink="/help" class="menu-link">Help</a>

</div>

<!-- RIGHT -->
<div class="nav-right">

  <button routerLink="/demo" class="demo-btn">
    Try Demo
  </button>

  <!-- Sign In -->
  <a *ngIf="!isLoggedIn"
     routerLink="/signin"
     class="menu-link">
     Sign In
  </a>

  <!-- Profile -->
  <div class="profile-menu" *ngIf="isLoggedIn">

    <div class="avatar"
         (click)="toggleProfileMenu($event)">
         {{ userInitial }}
    </div>

    <div class="dropdown" *ngIf="menuOpen">

      <a routerLink="/dashboard">
        My Account
      </a>

      <a (click)="logout()">
        Logout
      </a>

    </div>

  </div>

</div>

  </nav>

</div>
