.header-fixed{
  width:100%;
  background:#fff;
  border-bottom:1px solid #eee;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
}

.navbar{
  max-width:1300px;
  margin:auto;
  padding:15px 20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* LEFT */
.nav-left img{
  height:42px;
  cursor:pointer;
}

/* CENTER MENU */
.nav-center{
  display:flex;
  align-items:center;
  gap:28px;
  flex:1;
  justify-content:center;
}

/* MENU LINKS */
.menu-link{
  font-weight:600;
  color:#333;
  text-decoration:none;
  transition:0.2s;
}

.menu-link:hover{
  color:#7b4bb7;
}

/* RIGHT SIDE */
.nav-right{
  display:flex;
  align-items:center;
  gap:18px;
}

/* DEMO BUTTON */
.demo-btn{
  background:#2F5DA8;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  font-weight:600;
  cursor:pointer;
}

.demo-btn:hover{
  background:#234a87;
}










@media (max-width:768px){

.navbar{
  display:flex;
  flex-wrap:wrap;
}

/* LOGO */
.nav-left{
  order:1;
}

/* BUTTON + SIGN IN */
.nav-right{
  order:2;
  margin-left:auto;
  display:flex;
  gap:10px;
  align-items:center;
}

/* MENU LINKS */
.nav-center{
  order:3;
  width:100%;
  flex:unset;
  justify-content:flex-start;

  flex-wrap:nowrap;   /* important */
  gap:10px;           /* reduce spacing */
  margin-top:10px;
}

.menu-link{
  font-size:13px;     /* slightly smaller */
}

}