/* HERO */
.contact-hero {
  height: 320px;
  background: url('https://www.singaporepools.com.sg/ms/sgpa/images/contact-us/masthead-contact-us.png')
    center/cover no-repeat;   /* cover makes it full width */
  display: flex;
  align-items: center;
  padding-left: 8%;
}


.hero-text {
  font-size: 42px;
  font-weight: 600;
}

/* STATS */
.stats-bar {
  display: flex;
  justify-content: space-around;
  background: #111;
  padding: 35px 0;
  text-align: center;
}
.stats-bar h2 {
  color: red;
  font-size: 36px;
}
.stats-bar p {
  color: #fff;
}

/* WORKING LOCATION */
.working-location {
  display: flex;
  justify-content: space-between;
  padding: 80px 8%;
}
.working-left {
  max-width: 420px;
}
.working-left h2 {
  color: red;
  border-bottom: 3px solid red;
  width: fit-content;
}
.icon-box {
  width: 70px;
  height: 70px;
  background: #111;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.icon-box img {
  width: 40px;
}
.call-box {
  background: #ffeaea;
  padding: 15px;
  margin-top: 20px;
  border-radius: 6px;
  font-weight: 600;
}
.working-right {
  max-width: 520px;
}
.india-map {
  width: 100%;
}

/* OFFICE LOCATION */
.office-location {
  background: #f2f2f2;
  padding: 70px 8%;
}
.office-location h2 {
  color: red;
  border-bottom: 3px solid red;
  width: fit-content;
}
.office-wrapper {
  display: flex;
  margin-top: 30px;
}
.office-tabs {
  width: 260px;
  background: #bdbdbd;
}
.tab {
  padding: 18px;
  border-bottom: 1px solid #999;
}
.tab.active {
  background: #9e9e9e;
  font-weight: bold;
}
.office-content {
  background: #fff;
  padding: 30px;
  flex: 1;
}
.office-media {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.office-media img {
  width: 240px;
}
.office-media iframe {
  width: 100%;
  height: 220px;
  border: 0;
}

