<div class="contact-page">

  <section class="contact-hero">
    <h1>Contact Us</h1>
    <p>We’d love to hear from you.</p>
  </section>

  <div class="contact-container">

   <div class="contact-container">
  
  <!-- Left side -->
  <div class="contact-left">
    <h2>Get in Touch</h2>
    <p><strong>Email:</strong> central.operations&#64;digizura.com</p>

    <p><strong>Company:</strong> Digizura Technologies Pvt. Ltd.</p>

    <!-- Map moved here -->
    <div class="map">
      <iframe
        src="https://www.google.com/maps?q=Digizura%20Technologis%20Pvt%20Ltd%203478J%20Chirush%20Mansion%2013th%20Cross%20HAL%202nd%20Stage%20Indiranagar%20Bangalore%20560008&z=17&output=embed"
        width="100%"
        height="260"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
      </iframe>
    </div>
  </div>

   


<div class="contact-form">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <input type="text" placeholder="Your Name" formControlName="name">
    <small class="error" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
      Name must be at least 3 characters.
    </small>

    <input type="email" placeholder="Your Email" formControlName="email">
    <small class="error" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
      Enter a valid email address.
    </small>

    <input type="text" placeholder="Subject" formControlName="subject">
    <small class="error" *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid">
      Subject is required.
    </small>

    <textarea rows="5" placeholder="Your Message" formControlName="message"></textarea>
    <small class="error" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
      Message must be at least 10 characters.
    </small>

    <button type="submit">Send Message</button>

  </form>
</div>


  <!-- SUCCESS POPUP -->
  <div class="popup-overlay" *ngIf="showPopup">
    <div class="popup">
      <h2>Message Sent</h2>
      <p>Your message has been sent successfully.</p>
      <button (click)="closePopup()">OK</button>
    </div>
  </div>

</div>
