<section class="signin-wrapper">

  <div class="signin-card">

    <!-- Logo -->
    <a routerLink="/home" class="logo-link">
      <img src="https://digizura.com/img/log3.png" alt="Digizura Logo">
    </a>

    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

      <!-- EMAIL -->

      <div class="input-group">

        <label for="email">Email</label>

        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        >

        <small class="error"
        *ngIf="signinForm.get('email')?.touched && signinForm.get('email')?.invalid">

          <span *ngIf="signinForm.get('email')?.errors?.['required']">
            Email is required
          </span>

          <span *ngIf="signinForm.get('email')?.errors?.['email']">
            Enter a valid email
          </span>

        </small>

      </div>


      <!-- PASSWORD -->

      <div class="input-group">

        <div class="password-row">

          <label for="password">Password</label>

        <a routerLink="/reset-password" class="reset-link">Reset Password</a>
        </div>

        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        >

        <small class="error"
        *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.invalid">

          <span *ngIf="signinForm.get('password')?.errors?.['required']">
            Password is required
          </span>

          <span *ngIf="signinForm.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters
          </span>

        </small>

      </div>


      <!-- SIGN IN BUTTON -->

      <button
        type="submit"
        class="signin-btn"
        [disabled]="signinForm.invalid"
      >
        Sign In
      </button>

    </form>


    <!-- SIGN UP LINK -->

    <p class="signup-link">
      Don't have an account?
      <a routerLink="/signup">Sign up</a>
    </p>

  </div>

</section>