<div class="map-header">
  <div class="map-title">
    <div class="title-main">Thinking Your Business.</div>
    <div class="title-sub">Global Intelligence for your Enterprise.</div>
  </div>
  <div class="map-logo">
    <img src="https://digizura.com/img/log3.png" alt="Digizura Logo">
  </div>
</div>

<div class="footer-map">
 <img src="assets/images/maps.png" alt="Global Presence Map">

</div>








<div class="footer-bottom">
  <span>www.digizura.com</span>
  <span class="separator">|</span>
  <span>Copyright © 2018. All Rights Reserved</span>
</div>
