.map-header {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #ffffff;
  box-sizing: border-box;
}

.title-main {
  font-size: 26px;
  font-weight: 700;
  color: #0b2b5e;
}

.title-sub {
  font-size: 14px;
  color: #555;
  margin-top: 2px;
}

.map-logo img {
  height: 42px;
  width: auto;
}





.footer-map {
  width: 100%;
  background: #ffffff;   /* white background on left & right */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer-map img {
  height: 400px;        /* your required height */
  width: auto;         /* keep original width */
  max-width: 100%;     /* responsive */
  object-fit: contain; /* full image visible */
  display: block;
}



/* Footer bottom text */
.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 15px 0;
  font-size: 13px;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #000;
}

.footer-bottom span,
.separator {
  color: #000;
}
